body{
    background-color: white;
    color: #333;
      margin: auto;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      max-width: 1200px;
  }
  body p{
    text-align: justify;
  }

  .container {
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    top: 100px;
    }
    .header-image img {
      border-radius: 5px;
      width: 80%;
      height: auto;
      bottom: 50px;
      text-align: center;
    }

    .header-image{
      text-align: center;
    }
  
  
  
  
  
    @keyframes rotateAndSlideIn {
      0% {
        transform: translateY(100px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
  
  
  .highlight {
    background: linear-gradient(to right, #2cabe3, #38ca79); /* What is Rule of Thirds */
    -webkit-background-clip: text; /* Clip the background to text */
      -webkit-text-fill-color: transparent; /* Make the text transparent */
    font-weight: bold;
  }

  .overlay-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden; /* Ensure animation stays within bounds */
    position: relative; /* Important for animation positioning */
    transform: translateY(100%) rotate(0deg); /* Start below with no rotation */
    animation: rotateAndSlideIn 2s ease-out forwards; /* Apply animation */
    top: -10px;
    font-size: 80px;
    background: linear-gradient(to right, #2cabe3, #38ca79); /* What is Rule of Thirds */
    -webkit-background-clip: text; /* Clip the background to text */
      -webkit-text-fill-color: transparent; /* Make the text transparent */
    
    
  }

  .content {
    align-items: center;
    text-align: left;
    position: relative;
    top: -40px;
    padding: 0px;
    margin-left: 100px;
    margin-right: 50px;
  }
  

  .color-models h2 {
    text-align: right;
    font-size: 300%;
    margin-bottom: 30px;
    margin-top: 200px;
    margin-right: 40px;
  }

  .color-models {
    text-align: left;
    position: relative;
    top: -210px;
    padding: 20px;
  }

  .color-models p{
    line-height: 1.8rem;
    text-align: l;
    margin-left: 80px;
    margin-right: 50px;

  }
  

  .content h2 {
    text-align: left;
    font-size: 300%;
    margin-bottom: 30px;
    margin-top: 13%;
  }
  
  
 
  
  .content p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.8;
    margin: 10px 0;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%); /* Start off-screen */
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .in-view {
    animation: slideInFromLeft 2s ease-out forwards;
  
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Start off-screen */
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .in-viewright {
    animation: slideInFromRight 2s ease-out forwards;
  
  }

  .in-viewbelow {
    animation: rotateAndSlideIn 2s ease-out forwards;
  
  }

  
@keyframes rotateAndSlideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
